doctype html
html
  head
    title MediaTECA
    meta(charset="utf8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
    link(rel='stylesheet', href='/styles.css')
    
  body
    header
      h5 Keep, organize, track and share your favorite links
      img(src="http://placehold.it/200x100")
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar-collapse", aria-expanded="false")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(class='navbar-brand', href='/') MediaTECA

        div(class="collapse navbar-collapse" id="navbar-collapse")
          ul(class="nav navbar-nav")
            li
              a(href="#") my Saw list
            li
              a(href="#") to See list
            li
              a(href="#") my Media List
            li
              a(href="/newMedia") Add New Media

          form(class="navbar-form navbar-right")
            div(class="form-group")
              input(type="text", class="form-control" placeholder="Search")
            button(type="submit", class="btn btn-default") Submit
          
          ul(class="nav navbar-nav navbar-right")
            li
              a(class="navbar-link" href="/login") Login
            li
              a(href="/logout") Log Out
            li
              a(href="/signup") Sign Up
          
    #app

    footer
      p Running on node with Express, Jade and Stylus

    script(src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    script(src="/bundle.js")

